<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>My Portfolio</title>
    </head>
    <body>
        <div style = "max-width: 1000px">
            <h2 style = "text-align: center; font-family: Helvetica">
                <a style = "text-decoration: none; color: black" href="/">Home</a> | <a style = "text-decoration: none; color: black" href="/projects">Projects</a> | <a style = "text-decoration: none; color: black" href="/contact">Contact</a>
            </h2>
            <br>
            <h1 style = "text-align: center; font-family: Helvetica">About Me</h1>
            <div style = "display: flex">
                <div style = "text-align: center; min-width: 500px; border: 1px solid black; padding: 10px">
                    <img style = "max-width: 150px" src="https://qph.fs.quoracdn.net/main-qimg-acf593cb1c35615a05da62c20d10b40f.webp" alt="raptorPic">
                    <p>Dan O'Saur</p>
                    <p>Ancestor of birds & aspiring coder</p>
                </div>
                <div style = "min-width: 500px; border: 1px solid black; padding: 10px; margin-left: 10px">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id repellat nam natus! Dolores cumque earum consequuntur animi soluta? Distinctio assumenda ullam magni, a labore explicabo eum. Perspiciatis suscipit aperiam aspernatur!</p>
                </div>
            </div>
        </div>
    </body>
</html>